.box_forgot {
    width: 80%;
    margin: auto;
    padding: 70px 0;
    text-align: center;
}
.title{
    margin-top: 1.5rem;
    font-size: 18px;
}
.container_form{
    margin-top: 3rem;
}


/*============== Responsive =====================*/
@media (max-width: 768px) {
    .box_forgot {
      width: 100%;
      top: 40%;
      left: 50%;
    /* Adjusting width for medium-sized screens */
    }
  
    .cover {
      width: 100%;
      display: grid;
       /* Adjusting width for medium-sized screens */
    }
  
    .container_form {
      width: 90%;
      display: grid;
    }
    .container_form input {
      width: 100%;
    }
  
    
  }
  


  
